@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.contact_text{
    color: #515454;
    font-family: 'Raleway', sans-serif;
    
}

/* .contact_text h1{
    font-size: 7em;
} */

.form_div{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1
}

.form_div label{
    color: #e3e3e3;
}

.form_div input{
    padding: 1.4rem 2rem;
    color: #323232;
    border-radius: 9999px;
    border: .1rem solid #323232;
    outline: none;
    
}

.form_div input:hover{
    border: .1rem solid #848181;
    
}

.form_div input:focus{
    border: .147rem solid #ebebeb;
    
}

.form_div textarea{
    padding: 1.4rem 2rem;
    color: #323232;
    border-radius: 9999px;
    border: .1rem solid #323232;
    outline: none;
    margin:0;
}

.form_div textarea::placeholder{
    color: #807979;
    margin:0;
    position: absolute;
    top: 2rem;
}