@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

.emoji{
    display: inline-block;
    animation: wave 5s ease-in-out 3s infinite;
    transform-origin: bottom;
}

@keyframes wave {
    0% {
        transform: rotate(-12deg);
    }
    
    
    5% {
        transform: rotate(25deg);
    }
   
    10% {
        transform: rotate(-12deg);
    }
   
    15% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(0);
    }
}

.phrase{
    /* font-family: 'Handjet', cursive; */
    font-family: 'Rowdies', cursive;
    font-size: 1.5rem;
    color: #323232;
    font-weight: 100;
}